<ul>
  <h2>Task History</h2>
    <div>
        <form ng-submit="main.addTask()">
            <input type="text" id="taskInput" ng-model="task.text" placeholder= "Enter task name"><br />
            <div type="submit" class="button" ng-click="main.addTask()">Add Task</>
        </form> 
    </div>

    <div id='tasks' ng-repeat="task in main.taskList | orderBy: '-date'">
        <li> {{ task.name }}</li>
    </div>

</ul>

<!--Timer-->
<div class="container center">
    <div class="time-field timer-digits"> {{ main.time | timecode}}</div>
    <span type="button" class="button" ng-show="!main.onBreak" ng-click="main.startResetTimer()">{{ main.buttonName + ' (work)' }}</span>
    <span type="button" class="button" ng-show="main.onBreak"  ng-click="main.startResetTimer()">{{ main.buttonName + ' (break)'}}</span>
</div>
